@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/tiny-slider/dist/tiny-slider.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white w-full h-screen;
}

.parent {
  @apply w-full sm:px-10 px-5 mx-auto;
}

.parent2 {
  @apply my-24;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply w-1 bg-white;
}

::-webkit-scrollbar-thumb {
  @apply w-2 bg-black rounded-xl hover:bg-gray-600;
}

.scrollBg {
  @apply transition-all duration-100 bg-gray-50/50;
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
}

.parent div ul a.active {
  @apply border-b-4 border-black font-extrabold;
}

.parent div ul a {
  @apply hover:border-b-4 hover:border-black transition-all duration-300;
}

.contactId {
  @apply flex items-center gap-2 md:text-sm lg:text-lg sm:text-lg text-xs font-bold mb-5;
}

.contactId .icon {
  @apply bg-gray-400 w-10 flex justify-center items-center h-10 py-2 px-3 rounded-md;
}

.accountIcon {
  @apply text-white hover:bg-gray-400 transition-all ease-in-out duration-300 w-10 h-10 py-2 px-3 rounded-md;
}

.navIcon {
  @apply text-xl cursor-pointer absolute top-3 sm:right-10 right-5 hover:bg-gray-500 hover:text-white transition-all ease-in-out duration-300 rounded-md w-8 h-8 flex justify-center items-center;
}

/* Controls container */
.tns-controls {
  /* position: absolute;
  top: 0;
  right: 20px; */

  display: flex;
  justify-content: end;
  margin: 5px 4px;
  gap: 20px;
  pointer-events: none;
}

/* Buttons */
.tns-controls button {
  pointer-events: auto;
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  padding: 2px;
  background: white;
  color: #111827;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  transition: all 0.2s ease;
}

/* Hover */
.tns-controls button:hover {
  background: #111827;
  color: white;
}

/* Position */
.tns-controls [data-controls="prev"] {
  margin-left: -20px;
}

.tns-controls [data-controls="next"] {
  margin-right: -20px;
}

.showArrowUp {
  @apply flex transition-all ease-in-out duration-300;
  animation: arrowUp 1s alternate forwards;
}

.toggleNav {
  @apply top-14;
}

@keyframes arrowUp {
  from {
    transform: translateY(-1500%);
  }
  to {
    transform: translateY(-120%);
  }
}
